.navbar-header{
    margin-top:-4px;
}
.title{
    text-align: center;
    color:#fff;
    margin-top: 40px;
}
.banner-section{
    margin-top: 49px;
    background-image: url(imagens/header_image_uk1.png);
    height: 300px;
}
#panel{
    margin-top: 10px;
}
.btn-success{
    background:#86C543;
}   
#contato{
    margin-top: 70px;
}